*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  border: 0;
  cursor: pointer;
}
button:disabled {
  cursor: not-allowed;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
ul,
ol {
  padding: 0;
  margin: 0;
}
img {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
  font-size: inherit;
  font-style: normal;
}

:root {
  /* logo */
  --logo-accent: rgba(77, 90, 229, 1);
  --logo-primary: rgba(46, 47, 66, 1);

  /* titles */
  --title-dark: rgba(46, 47, 66, 1);

  /* buttons */
  --primary-button: rgba(77, 90, 229, 1);
  --button-hover: rgba(64, 75, 191, 1);
  --button-active: rgba(64, 75, 191, 1);
  --button-text: rgba(255, 255, 255, 1);

  /*  text */
  --primary-text: rgba(67, 68, 85, 1);
  --text-white: rgba(255, 255, 255, 1);
  --text-light: rgba(244, 244, 253, 1);
  --text-grey: rgba(142, 143, 153, 1);

  /* navigation links */
  --navigation-link-primary: rgba(46, 47, 66, 1);
  --navigation-link-hover: rgba(64, 75, 191, 1);
  --navigation-link-focus: rgba(64, 75, 191, 1);

  /* address links */
  --address-link-primary: rgba(67, 68, 85, 1);
  --address-link-hover: rgba(64, 75, 191, 1);
  --address-link-focus: rgba(64, 75, 191, 1);

  /* social links */
  --social-link-focus: rgba(64, 75, 191, 1);
  --social-link-hover: rgba(64, 75, 191, 1);
  --footer-link-secondary-variant: rgba(49, 208, 170, 1);

  /* backgrounds */
  --background-light: rgba(244, 244, 253, 1);
  --background-white: rgba(255, 255, 255, 1);
  --background-dark: rgba(46, 47, 66, 1);
  --background-accent: rgba(77, 90, 229, 1);

  /* form */
  --placeholder-transparent: rgba(46, 47, 66, 0.4);
}

/* styles */

/* ===== MOBILE STTLES ===== */

body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-text);
  background-color: #ffffff;
}

.section-title {
  color: var(--title-dark);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

.container {
  max-width: 320px;
  padding-right: 16px;
  padding-left: 16px;

  margin: 0 auto;
}

/* HEADER */

.page-header {
  padding-top: 16px;
  padding-bottom: 16px;

  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.page-header-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-accent);
}

.logo-accent {
  color: var(--logo-primary);
}

.navigation-list {
  display: none;
}

.header-address {
  display: none;
}

/* MOBILE MENU */

.mobile-menu-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;

  background: transparent;

  line-height: 0;
}

.mobile-menu-icon {
  fill: #000;
}

.mobile-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  padding-top: 72px;
  padding-right: 24px;
  padding-bottom: 40px;
  padding-left: 16px;

  top: 0;
  left: 0;

  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 999999999;
  background: #ffffff;
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;

  transform: translate(0%);
}

.mobile-menu-container {
  width: 280px;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .mobile-menu-container {
    margin: 0 auto;
  }
}

.mobile-menu-close-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 24px;
  height: 24px;
  padding: 0;
  top: 24px;
  right: 24px;

  line-height: 0;

  background-color: rgba(231, 233, 252, 1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  transition-property: border, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-close-button:hover,
.mobile-menu-close-button:focus {
  border: none;
  background-color: var(--button-hover);
}

.mobile-menu-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-close-button:hover .mobile-menu-close-icon,
.mobile-menu-close-button:focus .mobile-menu-close-icon {
  fill: var(--background-white);
}

/* MOBILE NAVIGATION */

.mobile-navigation-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 168px;

  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
}

.mobile-navigation-link {
  position: relative;
  display: block;
  color: var(--navigation-link-primary);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* MOBILE ADDRESS */

.mobile-address {
  margin-bottom: 48px;
}

.mobile-address-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-style: normal;
}

.mobile-address-link {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;

  color: var(--address-link-primary);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-address-link:hover {
  color: var(--address-link-hover);
}

.mobile-address-link:focus {
  color: var(--address-link-focus);
}

.mobile-address-link-blue {
  color: var(--primary-button);
}

.mobile-menu-socials-list {
  display: flex;
  gap: 40px;
}

.mobile-menu-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-button);
  border-radius: 50%;
  width: 100%;
  height: 100%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-socials-item {
  width: 40px;
  height: 40px;
}

.mobile-menu-socials-icon {
  fill: #f4f4fd;
}

.mobile-menu-social-link:hover {
  background-color: var(--social-link-hover);
}

.mobile-menu-social-link:focus {
  background-color: var(--social-link-hover);
}

/* HERO SECTION */

.hero-section {
  margin: 0 auto;
  padding-top: 72px;
  padding-bottom: 72px;
  max-width: 320px;

  background-color: var(--title-dark);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/backgrounds/hero-section-background-mobile.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (min-resolution: 192dpi) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/backgrounds/hero-section-background-mobile@2x.jpg);
  }
}

.page-title {
  margin: 0 auto;
  margin-bottom: 72px;

  font-size: 36px;
  font-weight: 700;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  max-width: 190px;

  color: var(--text-white);
}

.button {
  display: block;

  margin: 0 auto;

  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;

  min-width: 169px;
  padding: 16px 32px;

  border-radius: 4px;

  background-color: var(--primary-button);
  color: var(--button-text);

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover {
  background-color: var(--button-hover);
}

.button:focus {
  background-color: var(--button-active);
}

/* BENEFITS */

.benefits-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.benefit-item {
  width: 100%;
}

.icon-container {
  display: none;
}

.benefit {
  margin-bottom: 8px;

  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.02em;

  color: var(--title-dark);
}

.benefit-text {
  font-weight: 500;
}

/* MASTERS SECTION */

.master-section {
  background-color: #f4f4fd;
}

.master-section-title {
  margin-bottom: 72px;
}

.masters-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

.master-item {
  text-align: center;
  width: 264px;
  border-radius: 0 0 4px 4px;
  background-color: var(--background-white);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.master-description {
  padding: 32px 0;
}

.master {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
  color: var(--title-dark);
}

.master-position {
  margin-bottom: 8px;
  text-align: center;
}

.socials-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-button);
  border-radius: 50%;
  width: 100%;
  height: 100%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link a,
.footer-socials-item a {
  font-size: 0;
}

.social-list-item {
  width: 40px;
  height: 40px;
}

.social-icon {
  fill: #f4f4fd;
}

.social-link:hover {
  background-color: var(--social-link-hover);
}

.social-link:focus {
  background-color: var(--social-link-hover);
}

/* PORTFOLIO SECTION */

.portfolio-section-title {
  margin-bottom: 72px;
}

.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}

.portfolio-item {
  width: 288px;
  border: 1px solid #e7e9fc;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.overlay-container {
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
}

.overlay-text {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 40px 32px;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
  background-color: var(--background-accent);
  color: var(--text-light);
}

.portfolio-item:hover .overlay-text {
  transform: translateY(0%);
}

.project-description-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.project-title {
  margin-bottom: 8px;

  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-dark);
}

/* FOOTER */

.footer {
  text-align: center;
  background-color: var(--background-dark);
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-logo > .logo-accent {
  color: #f4f4fd;
}

.footer-text {
  text-align: left;
  color: var(--text-light);
}

.footer-socials-text {
  margin-bottom: 16px;

  text-align: center;
  color: var(--text-white);
  font-weight: 500;
}

.footer-socials {
  display: flex;
  gap: 16px;
}

.footer-socials-item {
  width: 40px;
  height: 40px;
}

.footer-socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-button);
  border-radius: 50%;
  width: 100%;
  height: 100%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-socials-icon {
  fill: #f4f4fd;
}

.footer-socials-link:hover {
  background-color: var(--footer-link-secondary-variant);
}

.footer-socials-link:focus {
  background-color: var(--footer-link-secondary-variant);
}

/* SUBSCRIBE FORM */

.form-subscribe-container {
  width: 100%;
}

.form-title-footer {
  margin-bottom: 16px;

  font-weight: 500;
  color: var(--text-white);
}

.form-subscribe {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-subscribe-input {
  width: 100%;
  height: 40px;

  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;

  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  color: var(--text-white);
  border: 1px solid var(--background-white);

  border-radius: 4px;
  opacity: 0.3;

  background-color: transparent;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.form-subscribe-input::placeholder {
  font-size: 12px;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.04em;

  opacity: 0.6;

  color: var(--text-white);
}

.form-subscribe-input:focus {
  opacity: 1;
}

.subscribe-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 165px;
  height: 40px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 24px;
  padding-right: 24px;
  margin: 0 auto;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;

  border: none;
  border-radius: 4px;

  background-color: var(--primary-button);
  color: var(--button-text);
  cursor: pointer;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-button:hover,
.subscribe-button:focus {
  background-color: var(--button-hover);
}

.telegram-icon {
  margin-left: 16px;

  fill: var(--text-white);
}

/* MODAL WINDOW */

.backdrop {
  position: fixed;

  top: 0;
  left: 0;
  z-index: 999999;

  width: 100%;
  height: 100%;

  background-color: rgba(46, 47, 66, 0.4);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition-property: opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.service-form-container {
  position: absolute;

  top: 50%;
  left: 50%;

  width: 288px;
  min-height: 584px;

  padding-top: 72px;
  padding-right: 24px;
  padding-bottom: 24px;
  padding-left: 24px;

  background-color: rgba(252, 252, 252, 1);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  border-radius: 4px;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translate(-50%, -50%);
}

.modal-close-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 24px;
  height: 24px;
  padding: 0;
  top: 24px;
  right: 24px;

  line-height: 0;

  background-color: rgba(231, 233, 252, 1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  transition-property: border, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:hover,
.modal-close-button:focus {
  border: none;
  background-color: var(--button-hover);
}

.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:hover .modal-close-icon,
.modal-close-button:focus .modal-close-icon {
  fill: var(--background-white);
}

.form-title {
  margin-bottom: 16px;
  max-width: 256px;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--title-dark);
}

.form-input-container {
  width: 100%;
  height: 58px;
  margin-bottom: 8px;
}

.label {
  display: block;
  margin-bottom: 4px;

  color: var(--text-grey);

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.input-wrapper {
  position: relative;
}

.form-input {
  line-height: 0;

  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 38px;

  width: 100%;
  height: 40px;

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;

  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
  border-color: var(--background-accent);
}

.form-input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);

  fill: var(--title-dark);

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus + .form-input-icon {
  fill: var(--background-accent);
}

.form-textarea-container {
  width: 100%;
  margin-bottom: 16px;
}

.form-textarea {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 16px;
  padding-left: 16px;

  width: 100%;
  height: 120px;
  resize: none;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: transparent;

  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea:focus {
  border-color: var(--background-accent);
}

.form-textarea::placeholder {
  color: var(--placeholder-transparent);

  font-size: 12px;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.04em;
}

.privacy-policy-container {
  width: 100%;
  margin-bottom: 24px;
}

.privacy-policy-checkbox {
  display: inline-block;
}

.privacy-policy-container .label {
  margin-bottom: 0px;
  display: flex;
  align-items: center;
}

.privacy-policy-link {
  text-decoration: underline;
  color: var(--primary-button);
}

.privacy-policy-fake-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 16px;
  min-height: 16px;
  margin-right: 8px;

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;

  fill: transparent;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.privacy-policy-checkbox:checked + .label .privacy-policy-fake-checkbox {
  background-color: var(--button-active);
  fill: #f4f4fd;
  border: none;
}

.privacy-policy-checkbox:focus + label .privacy-policy-fake-checkbox {
  border: 1px solid var(--background-accent);
}

.form-button {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 768px) {
  /* ===== TABLET STYLES ===== */

  .container {
    max-width: 768px;
  }

  /* HEADER */

  .page-header {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .page-header-container {
    align-items: center;
  }

  .mobile-menu-button {
    display: none;
  }

  .navigation {
    display: flex;
    align-items: center;
    gap: 120px;
  }

  .navigation-list {
    display: flex;
    gap: 40px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  .header-address {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .navigation-link {
    position: relative;
    display: block;
    padding: 24px 0;
    color: var(--navigation-link-primary);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .home-page {
    color: #404bbf;
  }

  .home-page::after {
    content: "";
    position: absolute;
    display: block;
    margin-top: 20px;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background: var(--navigation-link-hover);
  }

  .navigation-link:hover {
    color: var(--navigation-link-hover);
  }

  .navigation-link:focus {
    color: var(--navigation-link-focus);
  }

  .address-link {
    padding: 24px 0;

    color: var(--address-link-primary);
    font-size: 16px;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.04em;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .address-link:hover {
    color: var(--address-link-hover);
  }

  .address-link:focus {
    color: var(--address-link-focus);
  }

  /* HERO SECTION */

  .hero-section {
    max-width: 768px;
    padding-top: 112px;
    padding-bottom: 112px;

    background-image: url(../images/backgrounds/hero-section-background-tablet.jpg);
  }

  @media screen and (min-resolution: 192dpi) {
    .hero-section {
      background-color: var(--title-dark);
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/backgrounds/hero-section-background-tablet@2x.jpg);
    }
  }

  .page-title {
    max-width: 496px;
    margin-bottom: 36px;
    font-size: 56px;
  }

  /* BENEFITS SECTION */

  .benefits-list {
    margin: 0 auto;
    max-width: 768px;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
  }

  .benefit-item {
    max-width: 346px;
  }

  .benefit {
    text-align: left;
  }

  /* MASTERS SECTION */

  .masters-list {
    width: 552px;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    column-gap: 24px;
    row-gap: 64px;
  }

  /* PORTFOLIO SECTION */

  .portfolio {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }

  .portfolio-item {
    width: 356px;
  }

  /* FOOTER */

  .footer-container {
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
  }

  .footer-logo-container {
    width: 264px;
    text-align: left;
  }

  .footer-socials-text {
    text-align: left;
  }

  .form-subscribe-container {
    width: auto;
  }

  .form-subscribe {
    flex-direction: row;
    gap: 24px;
  }

  .form-title-footer {
    text-align: left;
  }

  .subscribe-label {
    width: 264px;
  }

  .subscribe-button {
    margin: 0;
  }

  /* MODAL WINDOW */
  .service-form-container {
    width: 408px;
  }

  .form-title {
    max-width: 360px;
  }
}

@media screen and (min-width: 1158px) {
  /* ===== DESKTOP STYLES ===== */
  .section {
    max-width: 1440px;

    padding-top: 120px;
    padding-bottom: 120px;
  }

  .container {
    max-width: 1158px;
  }

  /* HEADER */
  .page-header {
    padding-right: 15px;
    padding-left: 15px;
  }

  .navigation {
    gap: 76px;
  }

  .header-address {
    display: inline-block;
  }

  .address-list {
    display: flex;
    gap: 40px;
  }

  /* HERO SECTION */

  .hero-section {
    max-width: 1158px;
    padding-top: 188px;
    padding-bottom: 188px;
    background-color: var(--title-dark);
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/backgrounds/hero-section-background-desktop.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media screen and (min-resolution: 192dpi) {
    .hero-section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/backgrounds/hero-section-background-desktop@2x.jpg);
    }
  }

  /* BENEFITS SECTION */

  .benefits-list {
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    padding: 24px 100px;
    border-radius: 4px;
    background: #f4f4fd;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
  }

  .benefit {
    font-size: 20px;
    font-weight: 500;
  }

  .benefit-text {
    font-weight: 400;
  }

  /* MASTERS SECTION */

  .masters-list {
    flex-wrap: nowrap;
    gap: 24px;
  }

  /* FOOTER */

  .footer-container {
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 0px;
  }

  .footer-logo-container {
    margin-right: 120px;
  }

  .footer-text {
    width: 264px;
  }

  .footer-socials-container {
    margin-right: 80px;
  }

  /* MODAL WINDOW */

  .service-form-container {
    width: 408px;
  }

  .form-subscribe-input,
  .form-subscribe-input::placeholder {
    opacity: 1;
  }
}
